@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "../vars";

body {
    background-color:$background;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: $dark;
}

.container {
    margin: 0 auto;
    max-width: 700px;
}

.title-nav-link{ 
    margin-right:10px;
    text-decoration:underline;
    color:$med;
    font-weight:normal;
}

.title {
    @extend .columns;
    @extend .is-mobile;
    border-bottom:3px solid $dark;
}

.title-name {
    @extend .column;
    font-size:40px;
    font-weight:bold;
    text-decoration:none;
    color:$dark;
    position:relative;
    top:18px;
}

.title-nav {
    @extend .column;
    align-self:flex-end; // Align to bottom
    flex-grow:0;
    position:relative;
    top:7px;
}