@import "../vars";

body {
    background-color:$background;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: $dark;
}

.container {
    margin: 0 auto;
    max-width: 700px;
}

.title-nav-link{ 
    margin-right:10px;
    text-decoration:underline;
    color:$med;
    font-weight:normal;
}

.title {
    border-bottom:3px solid $dark;
	display:flex;
	justify-content: space-between;
}

.title-name {
    font-size:40px;
    font-weight:bold;
    text-decoration:none;
    color:$dark;

	// budge it down a bit
	position:relative;
	top:8px;
}

.title-nav {
	align-self: flex-end;
}
